ul {
    padding: 1em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1em auto;
  }
  
  li {
    display: inline-block;
    padding: .5em;
    color: white;
    width: 50%;
  }

.content {
    padding: 16px;
}

.content > mat-card {
    width: 1200px;
    padding:0 !important;
}

.mat-card-header{
    background-color:ROYALBLUE !important;
    color: White;
    padding:5px !important;
    inset: 3px 3px 3px 3px;
}

.mat-card-content{
    padding:1px !important;
}

p-accordionTab.header {
    background-color:ROYALBLUE !important;
    color: White;
    padding:5px !important;
    inset: 3px 3px 3px 3px;
}

.color-blue {
    background-color:ROYALBLUE !important;
    color: White;
    padding:5px !important;
    inset: 3px 3px 3px 3px;
}